body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #output {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #generateSeedButton{
    color: greenyellow;
  }
  #refreshButton{
    color: rgb(255, 145, 0);
  }

  #submitButton{
    color: rgb(22, 193, 223);
  }